body {
    text-align: center;
}

h1 {
    font-size: 100px;
} 
h2{
    font-size: 70px;
    margin: 0;
    padding-bottom: 10px;
}  
h3{
    margin-top: 1%;
    font-size: 20px;
}
button, option, html, select {
    background: black;
    color: white;
    font-family: '8BIT WONDER', sans-serif;
}

#configurar{
    display: block;
    font-size: 30px;
}
.sentenca {
    font-size: 40px;
    margin-bottom: 2%;
}

#opcoes button, #configurar, #torneio button {
    font-size: 20px;
    border: 3px solid white;
    padding: 7px;
    margin: 0.5%;
}

#opcoes {
    display: flex;
    justify-content: center;
}

.sumir {
    opacity: 0 !important;
    visibility: hidden !important;
}
label{
    font-size: 30px;
    padding-right: 10px;
    padding-bottom: 10px;
}
option{
    font-size: 20px;
}
select{
    font-size: 20px;
    background-color: black;
    padding: 3px;
}
#voltar_configs, #voltar_partida, #voltar_torneio{
    display: block;
    margin-bottom: 5%;
    font-size: 30px;
}
#selecoes1, #selecoes2{
    display: flex;
    justify-content: center;
}
img{
    width: 140px;
    height: 75px;
    padding-bottom: 5px;
}
#torneio button{
    width: 180px;
}
article{
    position: absolute;
}
#menu{
    margin-left: 40%;
}