body {
    text-align: center;
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 70px;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 20px;
}

h3 {
    margin-top: 1%;
    font-size: 20px;
}

button,
option,
html,
select {
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
}

#configurar {
    display: block;
    font-size: 30px;
}

.sentenca {
    font-size: 40px;
    margin-bottom: 2%;
}

#opcoes button,
#configurar,
#torneio button, 
#começar {
    font-size: 20px;
    padding: 7px;
    margin: 0.5%;
}

#opcoes button,
#configurar,
#menu_torneio button {
    border: 3px solid white;
}

#opcoes {
    display: flex;
    justify-content: center;
}

.sumir {
    opacity: 0 !important;
    visibility: hidden !important;
}

label, #voltar_menu {
    font-size: 30px;
    padding: 20px;
}

option {
    font-size: 20px;
}

select, #reiniciar, #voltar_menu_jogo {
    font-size: 20px;
    background-color: black;
    padding: 3px;
}

.voltar {
    display: block;
    margin-bottom: 5%;
    font-size: 25px;
}

#selecoes1,
#selecoes2 {
    display: flex;
    justify-content: center;
}

img {
    width: 140px;
    height: 75px;
    padding-bottom: 5px;
}

#torneio button {
    width: 180px;
}

article {
    position: absolute;
}

#titulo {
    margin-left: 37%;
}

#menu{
    margin-left: 37%;
}
#partida {
    margin-left: 23.7%;
}

#configs {
    margin-left: 28%;
}

#torneio {
    margin-left: 29%;
}

h3 {
    padding-top: 10px;
}

#jogo {
    width: 960px;
    height: 500px;
    border: 3px dashed white;
    background-color: black;
    position: relative;
    margin: auto;
}

#bola {
    background-color: rgb(235, 151, 54);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 240px;
    left: 475px;
}

.esquerda,
.direita {
    position: absolute;
    width: 20px;
    height: 140px;
    background-color: white;
    top: 180px;
}

.direita {
    left: 930px;
}

.esquerda {
    left: 10px
}

#painel{
    display: flex;
    justify-content: center;
}
input{
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
    height: 40px;
    width: 40px;
    font-size:35px;
}
.selecionado{
    background-color: grey;
}
p{
    font-size: 40px;
}
